<!DOCTYPE html>
<html lang="en">

<head>
  <title>海大共乘go</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="static/assets/css/main.css" />
  <link rel="icon" href="static/images/helmet.ico" type="image/x-icon">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<style>
  @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

  body {
    font-family: "Noto Sans TC", "Raleway", sans-serif
  }

  .w3-quarter img {
    margin-bottom: -6px;
    cursor: pointer
  }

  .w3-quarter img:hover {
    opacity: 0.6;
    transition: 0.3s
  }

  .mybox {
    margin:10px;
  
  }
  .mybutton{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;

  }

  .wrapper {
    text-align: center;
  }


</style>

<body id="top">
  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-bar-block w3-black w3-animate-right w3-top w3-text-light-grey w3-large"
    style="z-index:3;width:250px;font-weight:bold;display:none;right:0;" id="mySidebar">
    <a href="javascript:void()" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-32">CLOSE</a> 
    <a href="/notice" id="notice" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">通知</a> 
    <a href="/userInfo" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">個人資訊</a> 
    <a href="/home" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">主頁面</a>
    <a href="/history" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">瀏覽歷史資訊</a>
   
  </nav>

  <!-- Top menu on small screens -->
  <header class="w3-container w3-top w3-xlarge w3-padding-16" style="background-color: #3c3c44;">
    <span class="w3-center w3-padding w3-text-light-grey">
      <span id="myType"></span> 
      <span style="text-decoration:none; background-color:blue;" onclick="changeType()">切換身分</span>
      <button type="button" class="mybutton" id="search" onclick="inputSearch()" style="width: 15%;">搜尋</button>
    </span>
    <a href="javascript:void(0)" id="menu" class="w3-right w3-button w3-border w3-text-light-grey" onclick="w3_open()">&#9776;</a>
  </header>
  
  <!-- Main -->
  <br><br><br><br>
  <div>
    <div id = "searchBar"></div>
    <div class="inner">

      <!--Post Section  --> 
      <div class="inner" id="allPost"></div> 
    </div>
  </div>

  <script src="static/assets/js/jquery.min.js"></script>
  <script src="static/assets/js/getCoords.js" ></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANZaNJNJcia9SoIrpfKiUEXVVLu0PaWac&callback=initMap" async defer></script>
  <script src="static/assets/js/jquery.scrolly.min.js"></script>
  <script src="static/assets/js/skel.min.js"></script>
  <script src="static/assets/js/util.js"></script>
  <script src="static/assets/js/main.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
  <script src="static/assets/js/notifation.js"></script>
  <!-- <script src="static/assets/js/jquery.poptrox.min.js"></script> 要使用彈出視窗在加，不然href不能用-->


  <!-- Scripts -->
  <script>
    var allPostList = [];
    var myType;
    var searchType;
    // Script to open and close sidebar
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("myOverlay").style.display = "none";
    }

    // Modal Image Gallery
    function onClick(element) {
      document.getElementById("img01").src = element.src;
      document.getElementById("modal01").style.display = "block";
      var captionText = document.getElementById("caption");
      captionText.innerHTML = element.alt;
    } 

//////////////////////////////////////////
   
    // ! 進入頁面就顯示預設刊登 
    window.onload = function(){
      myType = location.href.split("?")[1];
      if(myType == 'dri')
      {
        searchType = 'pas'
        document.getElementById("myType").innerHTML="駕駛";
      }
      else
      {
        searchType = 'dri';
        document.getElementById("myType").innerHTML="乘客";
      }
      roadPostData();
    }

    function changeType(){
      if(myType == 'pas')
      {
        myType = 'dri';
        searchType = 'pas';
        roadPostData();
        document.getElementById("myType").innerHTML="駕駛";
      }
      else
      {
        myType = 'pas';
        searchType = 'dri';
        roadPostData();
        document.getElementById("myType").innerHTML="乘客";
      }
    }

    function roadPostData(){
      $.ajax({
        type: 'POST',
        url: "/postBoard",
        data: JSON.stringify({'post_type' : searchType}),
        contentType: 'application/json; charset=utf-8',
        success: displayPost
      });
    }

    function displayPost(postResult){
      console.log(postResult)
      $("#allPost").empty();

      if(postResult.length)
      {
        var popContent="";
        for(var i=0;i<postResult.length;i++){      
          popContent +='<div class="box">\
                          <div class="inner">\
                            <h3 id="posterName" onclick="posterInfo(\''+postResult[i].owner_id+'\')">'+ postResult[i].post_name  +'</h3>\
                            <p style="text-align: left;">目的地:'+ postResult[i].post_goto +'<br>上車時間:' + postResult[i].post_getOnTime + '<br>上車地點:' + postResult[i].post_location   ;      
          if(postResult[i].post_hat==true)
            popContent+='<br>安全帽 : 有';
          else 
            popContent+='<br>安全帽 : 無';
          if(postResult[i].post_raincoat==true)
            popContent+='<br>雨衣 : 有';
          else 
            popContent+='<br>雨衣 : 無';
          popContent+='<br>備註 :'+ postResult[i].post_notice +'</p>';
          popContent+='<button class="button style2 fit" type="button" onclick="sendRequest(\''+postResult[i]._id+'\')" >送出請求</button></div> </div>';
        }
        //console.log(typeof(postResult[0]._id));
        $("#allPost").append(popContent);
      }
      else
        $("#allPost").append("目前沒有刊登資訊");
    }
    
    //是否要已送出過就無法再按
    function sendRequest(postID){
      $.ajax({
        type: 'POST',
        url: "/sendRequest",
        data: JSON.stringify({'post_id' : postID}),
        contentType: 'application/json; charset=utf-8'
      });
    }      

    //刊登人個人資訊 
    function posterInfo(ownerID){
      $.ajax({
        type: 'POST',
        url: "/postBoard",
        data: JSON.stringify({'post_type' : "dri"}),
        contentType: 'application/json; charset=utf-8',
        success: displayPost
      });
    }
    
    //填入搜尋資訊
    function inputSearch(){
      postReg = 0;
      $('#searchBar').empty();
      			
      var popContent =        '<div>'+
                                '<label>搭車地點</label>'+
                                '<select class="w3-input w3-border" type="text" name="post_location" required style="background-color:black;" id = "loc">'+
                                  　'<option value="Taipei">海大</option>\
                                  　<option value="Taoyuan">桃園</option>\
                                  　<option value="Hsinchu">新竹</option>\
                                  　<option value="Miaoli">苗栗</option>\
                                </select>\
                              </div>\
                              <div>\
                                <label>目的地</label>\
                                <select class="w3-input w3-border" type="text" name="post_goto" required style="background-color:black;" id = "goto">\
                                  　<option value="Taipei">海大</option>\
                                  　<option value="Taoyuan">桃園</option>\
                                  　<option value="Hsinchu">新竹</option>\
                                  　<option value="Miaoli">苗栗</option>\
                                </select>\
                              </div>\
                              <div class="inner">\
                                <div class="wrapper">\
                                  <button type="button" class="mybutton" id="submitSearch" onclick="submitSearch()" style="width: 35%;">送出</button>\
                                </div>\
                              </div>';

      $('#searchBar').append(popContent);
      //return newNode;
    }

  
function submitSearch(){
  var i;
  var j = 0;
  console.log(document.getElementById("loc").value);
  console.log(document.getElementById("goto").value);
  var mySearch = [];
  var temp = [];
  for(i = 0;i < allPostList.length;i++){
    if(allPostList[i].post_goto == document.getElementById("goto").value)
      temp[j++] = allPostList[i];
  }
  j = 0;
  for(i = 0;i < temp.length;i++){
    if(allPostList[i].post_location == document.getElementById("loc").value)
      mySearch[j++] = temp[i];
  }
  displayPost(mySearch);
}


  </script>


  <!-- <script src="static/assets/js/jquery.poptrox.min.js"></script> 要使用彈出視窗在加，不然href不能用-->


</body>

</html>