<!DOCTYPE html>
<html lang="en">

<head>
  <title>海大共乘go</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="static/assets/css/main.css" />
  <link rel="icon" href="static/images/helmet.ico" type="image/x-icon">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<style>
  @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

  body {
    font-family: "Noto Sans TC", "Raleway", sans-serif
  }

  .w3-quarter img {
    margin-bottom: -6px;
    cursor: pointer
  }

  .w3-quarter img:hover {
    opacity: 0.6;
    transition: 0.3s
  }

  .mybox {
    margin:10px;
  
  }
  .mybutton{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    
  }
</style>

<body id="top">

  <section id="banner" data-video="static/images/banner">
    <div class="inner">
      <header>
        <h1><b>所有刊登</b></h1>
      </header>
      <a href="#main" class="more">Learn More</a>
    </div>
  </section>

  <header class="w3-container w3-top w3-xlarge w3-padding-16">
    <a href="javascript:void(0)" class="w3-right w3-button w3-border" onclick="w3_open()">&#9776;</a>
  </header>

  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-bar-block w3-black w3-animate-right w3-top w3-text-light-grey w3-large"
    style="z-index:3;width:250px;font-weight:bold;display:none;right:0;" id="mySidebar">
    <a href="javascript:void()" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-32">CLOSE</a>
    <a href="#inform" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">通知</a>
    <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">個人資訊</a>
    <a href="http://122.116.67.75:5000/" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">主頁面</a>
    <a href="#history" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">瀏覽歷史資訊</a>
    <a href="#set" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">設置</a>
  </nav>

  <div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

  <!-- Main -->
  <div id="main">
    <div class="inner">
      <div class="inner" >
        <button type="button" class="mybutton" id="passenger" onclick="passengerPost()">乘客</button>
        <button type="button" class="mybutton" id="driver" onclick="driverPost()">駕駛</button>
        <button type="button" class="mybutton" id="search" onclick="inputSearch()">搜尋</button>
      </div>
      <!--Post Section  --> 
      <div class="inner" id="allPost"></div> 

      <div class="box">
          <div class="inner">
            <h2 class="posterName" onclick="posterInfo()">張嘉航</h2>
            <p style="text-align: left;">目的地:<br>上車時間:<br>上車地點:<br>安全帽:有<br>雨衣:無<br>備註:aaaaa</p>
            <span class="button style2 fit" onclick="sendR(5dd95c1ed1bd6ea5543bda6d)">送出請求</span>
          </div> 
      </div>
     
       


    </div>
  </div>



  <!-- Scripts -->
  <script>
    // Script to open and close sidebar
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("myOverlay").style.display = "none";
    }

    // Modal Image Gallery
    function onClick(element) {
      document.getElementById("img01").src = element.src;
      document.getElementById("modal01").style.display = "block";
      var captionText = document.getElementById("caption");
      captionText.innerHTML = element.alt;
    } 
///////////

    function defaultPost(){
      $.ajax({
        type: 'POST',
        url: "/postBoard",
        data: JSON.stringify({'post_type' : 0}),
        contentType: 'application/json; charset=utf-8',
        success: displayPost
      });
    } 

    function passengerPost(){
      $.ajax({
        type: 'POST',
        url: "/postBoard",
        data: JSON.stringify({'post_type' : "pas"}),
        contentType: 'application/json; charset=utf-8',
        success: displayPost
      });
    }

    function driverPost(){
      $.ajax({
        type: 'POST',
        url: "/postBoard",
        data: JSON.stringify({'post_type' : "dri"}),
        contentType: 'application/json; charset=utf-8',
        success: displayPost
      });
    }

    function displayPost(postResult){
      console.log(postResult);
      
      $("#allPost").empty();
      var popContent="";
      for(var i=0;i<postResult.length;i++){      
        popContent +='<div class="box"><div class="inner"><h3 id="posterName"> '+ postResult[i].post_name  +'</h3><p style="text-align: left;">目的地:'+ postResult[i].post_goto +'<br>上車時間:' + postResult[i].post_getOnTime + '<br>上車地點:' + postResult[i].post_location   ;      
        if(postResult[i].post_hat==true)popContent+='<br>安全帽 : 有';
        else popContent+='<br>安全帽 : 無';
        if(postResult[i].post_raincoat==true)popContent+='<br>雨衣 : 有';
        else popContent+='<br>雨衣 : 無';
        popContent+='<br>備註 :'+ postResult[i].post_notice +'</p>';
        popContent+='<button class="button style2 fit" type="button" onclick="sendR(\''+postResult[i]._id+'\')" >送出請求</button></div> </div>';
      }
      console.log(typeof(postResult[0]._id));
      $("#allPost").append(popContent);
    }
    //
    function sendR(a){
      $.ajax({
        type: 'POST',
        url: "/sendRequest",
        data: JSON.stringify({'post_id' : a}),
        contentType: 'application/json; charset=utf-8'
      });
    }      

    
    function inputSearch(){

    }

    function posterInfo(){
      alert("aaa");
    }

  
    
 /*   var myJSON = '{"name":"John", "age":31, "city":"New York"}';
    var myObj = JSON.parse(myJSON);
    var a="<p>"+myObj.name+"</p>";
    $(".button").append(a);*/
  



  </script>


  <script src="static/assets/js/jquery.min.js"></script>
  <script src="static/assets/js/jquery.scrolly.min.js"></script>
  <script src="static/assets/js/skel.min.js"></script>
  <script src="static/assets/js/util.js"></script>
  <script src="static/assets/js/main.js"></script>

  <!-- <script src="static/assets/js/jquery.poptrox.min.js"></script> 要使用彈出視窗在加，不然href不能用-->


</body>

</html>