<!DOCTYPE html>
<html lang="en">

<head>
  <title>海大共乘go</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="static/assets/css/main.css" />
</head>

<style>
  @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

  body {
    font-family: "Noto Sans TC", "Raleway", sans-serif
  }

  .w3-quarter img {
    margin-bottom: -6px;
    cursor: pointer
  }

  .w3-quarter img:hover {
    opacity: 0.6;
    transition: 0.3s
  }
</style>

<body id="top">

    <header class="w3-container w3-top w3-xlarge w3-padding-16" style="background-color: #3c3c44;">
      <span class="w3-center w3-padding w3-text-light-grey">查看邀請訊息</span>
      <a href="javascript:void(0)" class="w3-right w3-button w3-border w3-text-light-grey" onclick="w3_open()">&#9776;</a>
    </header>
</body>
  <header class="w3-container w3-top w3-xlarge w3-padding-16">
    <a href="javascript:void(0)" class="w3-right w3-button w3-border" onclick="w3_open()">&#9776;</a>
  </header>

  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-bar-block w3-black w3-animate-right w3-top w3-text-light-grey w3-large"
    style="z-index:3;width:250px;font-weight:bold;display:none;right:0;" id="mySidebar">
    <a href="javascript:void()" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-32">CLOSE</a>
    <a href="#inform" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">通知</a>
    <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">個人資訊</a>
    <a href="#main" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">主頁面</a>
    <a href="#history" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">瀏覽歷史資訊</a>
    <a href="#set" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">設置</a>
  </nav>

  <div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
  <div class="w3-main w3-content" style="max-width:1600px;margin-top:100px">
  <!-- Main -->
  <div id="main">
    <div class="inner">

      <!-- Boxes -->
      <div class="thumbnails">

        <div class="box">
            <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="static/images/pic03.jpg" alt="" /></a>
            <div class="inner">
              <h3>駕駛:八三夭</h3> 
              <h3>乘客:白安</h3> 
              <h1>上車日期:11/21</h1> 
              <h1>上車時間:16:05</h1> 
              <h1>上車地點:海大</h1> 
              <h1>目的地:大朔</h1> 
              <h1>連絡電話:0988888888</h1> 
              <a href="https://youtu.be/s6zR2T9vn2c" class="button style3 fit">接受</a>
              <a href="https://youtu.be/s6zR2T9vn2c" class="button style3 fit">拒絕</a>
            </div>
          </div>

          <div class="box">
              <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="static/images/pic02.jpg" alt="" /></a>
            <div class="inner">
              <h3>駕駛:紅商城門雞蛋糕</h3> 
              <h3>乘客:黑旋風</h3> 
              <h1>上車日期:11/20</h1> 
              <h1>上車時間:17:15</h1> 
              <h1>上車地點:火車站</h1> 
              <h1>目的地:海大</h1> 
              <h1>連絡電話:0977777777</h1> 
              <a class="button style2 fit">配對成功</a>
            </div>
          </div>
          <a class="button style fit" onclick="location.reload()">重新整理</a>
      </div>
    </div>
  </div>
</div>
<div class="w3-center w3-padding-24 w3-text-white" style="background-color: #3c3c44;">Made by <a href="https://youtu.be/NL2e8U0hays" title="W3.CSS" target="_blank" class="w3-hover-opacity">山海關快打旋風程門雞蛋糕猜猜幾把刀</a></div>

  <!-- Scripts -->
  <script>
    // Script to open and close sidebar
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("myOverlay").style.display = "none";
    }

    // Modal Image Gallery
    function onClick(element) {
      document.getElementById("img01").src = element.src;
      document.getElementById("modal01").style.display = "block";
      var captionText = document.getElementById("caption");
      captionText.innerHTML = element.alt;
    }

  </script>
  <script src="static/assets/js/jquery.min.js"></script>
  <script src="static/assets/js/jquery.scrolly.min.js"></script>
  <script src="static/assets/js/jquery.poptrox.min.js"></script>
  <script src="static/assets/js/skel.min.js"></script>
  <script src="static/assets/js/util.js"></script>
  <script src="static/assets/js/main.js"></script>

</body>

</html>