<!DOCTYPE html>
<html lang="en">

<head>
  <title>海大共乘go</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="static/assets/css/main.css" />
  <link rel="icon" href="static/images/helmet.ico" type="image/x-icon">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<style>
  @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

  body {
    font-family: "Noto Sans TC", "Raleway", sans-serif
  }

  .w3-quarter img {
    margin-bottom: -6px;
    cursor: pointer
  }

  .w3-quarter img:hover {
    opacity: 0.6;
    transition: 0.3s
  }

  .mybox {
    margin:10px;
  
  }
  .mybutton{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;

  }
  .mybutton2{
    background-color:blueviolet; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;

  }

  .wrapper {
    text-align: center;
  }


</style>

<body id="top">
  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-bar-block w3-black w3-animate-right w3-top w3-text-light-grey w3-large"
    style="z-index:3;width:250px;font-weight:bold;display:none;right:0;" id="mySidebar">
    <a href="javascript:void()" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-32">CLOSE</a> 
    <a href="/notice" id="notice" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">通知</a> 
    <a href="/userInfo" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">個人資訊</a> 
    <a href="/home" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">主頁面</a>
    <a href="/history" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">瀏覽歷史資訊</a>
    <a href="/logout" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">登出</a>

  </nav>

  <!-- Top menu on small screens -->
  <header class="w3-container w3-top w3-xlarge w3-padding-16" style="background-color: #3c3c44;">
    <span class="w3-center w3-padding w3-text-light-grey">
      <span id="myType"></span>
      <button class = "mybutton2" onclick="changeType()">切換身分</button>
      <button type="button" class="mybutton" id="search" onclick="inputSearch()" style="width: 10%;">搜尋</button>
    </span>
    <a href="javascript:void(0)" id="menu" class="w3-right w3-button w3-border w3-text-light-grey" onclick="w3_open()">&#9776;</a>
  </header>
  
  <!-- Main -->
  <br><br><br><br>
  <div id="main">
    <div id = "searchBar"></div>
    <div class="inner">

      
      <!--Post Section  --> 
      <div class="thumbnails" id="allPost"></div> 
    </div>
  </div>


  <script src="static/assets/js/jquery.min.js"></script>
  <script src="static/assets/js/getCoords.js" ></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANZaNJNJcia9SoIrpfKiUEXVVLu0PaWac&callback=initMap" async defer></script>
  <script src="static/assets/js/jquery.scrolly.min.js"></script>
  <script src="static/assets/js/skel.min.js"></script>
  <script src="static/assets/js/util.js"></script>
  <script src="static/assets/js/main.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
  <script src="static/assets/js/notifation.js"></script>
  <!-- <script src="static/assets/js/jquery.poptrox.min.js"></script> 要使用彈出視窗在加，不然href不能用-->


  <!-- Scripts -->
  <script>
    var allPostList = [];
    var mySearch = [];
    var myType;
    var searchType;
    var myID;
    // Script to open and close sidebar
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      // document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      // document.getElementById("myOverlay").style.display = "none";
    }

    // Modal Image Gallery
    function onClick(element) {
      document.getElementById("img01").src = element.src;
      document.getElementById("modal01").style.display = "block";
      var captionText = document.getElementById("caption");
      captionText.innerHTML = element.alt;
    } 

//////////////////////////////////////////
   
    // ! 進入頁面就顯示預設刊登 
    window.onload = function(){
      myType = location.href.split("?")[1];
      if(myType == 'dri')
      {
        searchType = 'pas'
        document.getElementById("myType").innerHTML="駕駛";
      }
      else
      {
        searchType = 'dri';
        document.getElementById("myType").innerHTML="乘客";
      }
      roadPostData();
    }

    function changeType(){
      if(myType == 'pas')
      {
        myType = 'dri';
        searchType = 'pas';
        roadPostData();
        document.getElementById("myType").innerHTML="駕駛";
      }
      else
      {
        myType = 'pas';
        searchType = 'dri';
        roadPostData();
        document.getElementById("myType").innerHTML="乘客";
      }
    }

    function roadPostData(){
      $.ajax({
        type: 'POST',
        url: "/postBoard",
        data: JSON.stringify({'post_type' : searchType}),
        contentType: 'application/json; charset=utf-8',
        success: displayPost
      });
    }

    function displayPost(postResult){
      console.log(postResult);
      convertion(postResult);
      var note;
      if (myType == 'dri')
        note = '是邊緣人需要別人載他';
      else
        note = '的後座空空的覺得好寂寞';
      allPostList = postResult;
      if(postResult.length)
      {
        myID = postResult[0].yourID;
        var popContent="";
        for(var i=0;i<postResult.length;i++){      
          popContent +='<div class="box">\
                          <div class="inner">\
                            <h3 id="post'+i+'" onclick="posterInfo(this)">'+ postResult[i].post_name+'<span style:"position:relative; top:5px;">'+note+'</span>'+'</h3>\
                            <div id="posterInfo'+i+'"></div>\
                            <p style="text-align: left;">目的地:'+ postResult[i].post_goto +'<br>上車時間:' + TT[i] + '<br>上車地點:' + postResult[i].post_location   ;      
          if(myType=='dri')
          {
            if(postResult[i].post_haveHat==true)
              popContent+='<br>我有安全帽';
            else 
              popContent+='<br>我沒有安全帽';
            if(postResult[i].post_raincoat==true)
              popContent+='<br>我有雨衣';
            else 
              popContent+='<br>我沒有雨衣';
          }
          else{
            if(postResult[i].post_haveHat==true)
              popContent+='<br>我需要安全帽';
            else 
              popContent+='<br>我不需要安全帽';
            if(postResult[i].post_raincoat==true)
              popContent+='<br>我需要雨衣';
            else 
              popContent+='<br>我不需要雨衣';
          }
          popContent+='<br>備註 :'+ postResult[i].post_notice +'</p>';
          if(postResult[i].owner_id != myID)
            popContent+='<button class="button style2 fit" type="button" onclick="sendRequest(\''+postResult[i]._id+'\')" >送出請求</button>\
                          </div>\
                        </div>';
          else
          popContent+='<button class="button style2 fit" type="button" disabled=true)" >這是您的刊登資訊</button>\
                          </div>\
                        </div>';
        }
        //console.log(typeof(postResult[0]._id));
        document.getElementById("allPost").innerHTML = popContent;
      }
      else
        document.getElementById("allPost").innerHTML = "目前沒有刊登資訊";
    }
    var TT=[]
    function convertion(requestarray)
    {
      if (requestarray.length) {
        for (i = 0; i < requestarray.length; i++) {
          month=["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
          Month=["1","2","3","4","5","6","7","8","9","10","11","12"];
          week=["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"];
          Week=["禮拜一","禮拜二","禮拜三","禮拜四","禮拜五","禮拜六","禮拜日"];
          var tmp1=requestarray[i].post_getOnTime;
          var tmp=tmp1.split(",");
          var tmp2=tmp1.split(" ");
          console.log(tmp1);
          var output="";
          output+=tmp2[3]+"/";
          for(j=0;j<12;j++)
            if(tmp2[2]==month[j])
              output+=Month[j]+"/";
          output+=tmp2[1]+" ";
          for(j=0;j<7;j++)
            if(tmp[0]==week[j])
              output+=Week[j]+" ";
          output+=tmp2[4];
          TT.push(output);
        }
      }
      console.log(TT);
    }
    //是否要已送出過就無法再按
    function sendRequest(postID){
      $.ajax({
        type: 'POST',
        url: "/sendRequest",
        data: JSON.stringify({'post_id' : postID}),
        contentType: 'application/json; charset=utf-8',
        success: function() {
                  window.location.href='https://' + document.domain + '/passengerRespond';
                }
          });
    }      

    //刊登人個人資訊 
    function posterInfo(obj){
      var whoName = obj.id.charAt(4);
      var popPosterInfo="顯示"+allPostList[whoName].post_name+"的資訊";
      console.log(popPosterInfo);
      $("#posterInfo"+whoName).append(popPosterInfo);

      // $.ajax({
      //   type: 'POST',
      //   url: "/postBoard",
      //   data: JSON.stringify({'post_type' : "dri"}),
      //   contentType: 'application/json; charset=utf-8',
      //   success: displayPost
      // });
    }
    
    //填入搜尋資訊
    function inputSearch(){
      postReg = 0;
      $('#searchBar').empty();
      			
      var popContent =  '<div class="w3-section">\
                          <label>搭車地點</label>\
                          <select class="w3-input w3-border" type="text" name="post_location" required id="loc" style="background-color: #3c3c44;">\
                            　<option value="瑞芳車站">瑞芳車站</option>\
                            　<option value="山海觀">山海觀</option>\
                            　<option value="海洋大學體育館">海洋大學體育館</option>\
                            　<option value="海洋大學濱海校門">海洋大學濱海校門</option>\
                            　<option value="海洋大學祥豐校門">海洋大學祥豐校門</option>\
                            　<option value="中正路加油站">中正路加油站</option>\
                            　<option value="基隆市立圖書館">基隆市立圖書館</option>\
                            　<option value="長榮桂冠">長榮桂冠</option>\
                            　<option value="基隆市政府">基隆市政府</option>\
                            　<option value="海洋廣場">海洋廣場</option>\
                            　<option value="基隆火車站">基隆火車站</option>\
                            　<option value="廟口">廟口</option>\
                            　<option value="基隆女子高級中學">基隆女子高級中學</option>\
                            　<option value="微笑台北">微笑台北</option>\
                            　<option value="深溪路愛買">深溪路愛買</option>\
                            　<option value="海中天">海中天</option>\
                            　<option value="巴賽隆納">巴賽隆納</option>\
                            　<option value="海洋世界">海洋世界</option>\
                            　<option value="新豐麥當勞">新豐麥當勞</option>\
                            　<option value="和平島和平國小">和平島和平國小</option>\
                            　<option value="基隆海事">基隆海事</option>\
                            　<option value="祥豐市場">祥豐市場</option>\
                          </select>\
                        </div>\
                        <div class="w3-section">\
                          <label>目的地</label>\
                          <select class="w3-input w3-border" type="text" name="post_goto" required id="des" style="background-color: #3c3c44;">\
                            　<option value="瑞芳車站">瑞芳車站</option>\
                            　<option value="山海觀">山海觀</option>\
                            　<option value="海洋大學體育館">海洋大學體育館</option>\
                            　<option value="海洋大學濱海校門">海洋大學濱海校門</option>\
                            　<option value="海洋大學祥豐校門">海洋大學祥豐校門</option>\
                            　<option value="中正路加油站">中正路加油站</option>\
                            　<option value="基隆市立圖書館">基隆市立圖書館</option>\
                            　<option value="長榮桂冠">長榮桂冠</option>\
                            　<option value="基隆市政府">基隆市政府</option>\
                            　<option value="海洋廣場">海洋廣場</option>\
                            　<option value="基隆火車站">基隆火車站</option>\
                            　<option value="廟口">廟口</option>\
                            　<option value="基隆女子高級中學">基隆女子高級中學</option>\
                            　<option value="微笑台北">微笑台北</option>\
                            　<option value="深溪路愛買">深溪路愛買</option>\
                            　<option value="海中天">海中天</option>\
                            　<option value="巴賽隆納">巴賽隆納</option>\
                            　<option value="海洋世界">海洋世界</option>\
                            　<option value="新豐麥當勞">新豐麥當勞</option>\
                            　<option value="和平島和平國小">和平島和平國小</option>\
                            　<option value="基隆海事">基隆海事</option>\
                            　<option value="祥豐市場">祥豐市場</option>\
                          </select>\
                        </div>\
                        <button type="button" class="mybutton" onclick="clearSearch()" style="width: 15%;">取消</button>';

      $('#searchBar').append(popContent);
      //return newNode;
    }

  
function submitSearch(){
  var i;
  var j = 0;
  console.log(document.getElementById("loc").value);
  console.log(document.getElementById("des").value);
  var temp = [];
  for(i = 0;i < allPostList.length;i++){
    if(allPostList[i].post_goto == document.getElementById("goto").value)
      temp[j++] = allPostList[i];
  }
  j = 0;
  for(i = 0;i < temp.length;i++){
    if(allPostList[i].post_location == document.getElementById("loc").value)
      mySearch[j++] = temp[i];
  }
  displayPost(mySearch);
}

function clearSearch(){
  $('#searchBar').empty();
  displayPost(allPostList);
}

  </script>


  <!-- <script src="static/assets/js/jquery.poptrox.min.js"></script> 要使用彈出視窗在加，不然href不能用-->


</body>

</html>