<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="static/assets/css/main.css" />
    <link rel="icon" href="static/images/helmet.ico" type="image/x-icon">

    <title>Flask-SocketIO-Chat: {{ room }}</title>
    <style>
        @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

        body {
            font-family: "Noto Sans TC", "Raleway", sans-serif
        }

        #chat {
            width: 90%;
            height: 60%;
            overflow: auto;
        }

        #shit {
            font-weight: bold;
        }
    </style>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket;
        $(document).ready(function () {
            var url = location.href;
            url = url.split('?')[1];
            socket = io.connect('https://' + document.domain + '/chat');
            socket.on('connect', function () {
                if (url != '')
                    socket.emit('joined', { 'room': url });
            });
            socket.on('status', function (data) {
                $('#shit').text(data.tarName1 + " 與 " + data.tarName2 + " 的聊天室聊天");
                document.getElementById('chat').innerHTML = data.msg;
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
            });
            socket.on('message', function (data) {
                document.getElementById('chat').innerHTML = data.msg;
                console.log(data.msg);
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
            });
            $('#text1').keypress(function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    var url = location.href;
                    url = url.split('?')[1];
                    text = encodeURI($('#text1').val());
                    console.log(text);
                    $('#text1').val('');
                    socket.emit('text', { 'msg': text, 'room': url });
                }
            });
        });
        function leave_room() {
            var url = location.href;
            url = url.split('?')[1];
            socket.emit('left', { 'room': url }, function () {
                socket.disconnect();

                // go back to the login page
                window.location.href = 'https://' + document.domain + '/home';
            });
        }
        function textin() {
            var url = location.href;
            url = url.split('?')[1];
            text = encodeURI($('#text1').val());
            console.log(text);
            $('#text1').val('');
            socket.emit('text', { 'msg': text, 'room': url });
        }
    </script>
</head>

<body>
    <div class="w3-container">
        <br>
        <h3 id='shit' class="w3-opacity">正在與:</h3>
        <div class="w3-border w3-round-large w3-left-align w3-text-light-grey" id="chat">
            <br>
        </div>
        <br>
    </div>


    <div class="w3-container">
        <input id="text1" class="w3-input" type="text" size="100" placeholder="Enter your message here"><br>
        <input class="w3-button" id="enter" type="button" value="輸入"
            style="width:100px; background-color:#66d9ff; color:black;" onclick="textin()">
        <span> </span>
        <input class="w3-button" type="button" onclick="leave_room()"
            style="width:100px; background-color:#ff6666; color:black;" value="離開">

    </div>



</body>

</html>