<!DOCTYPE html>
<html lang="en">
<title>海大共乘go</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="icon" href="static/images/helmet.ico" type="image/x-icon">
<style>
  @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

  body,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Noto Sans TC", "Raleway", sans-serif
  }

  .w3-quarter img {
    margin-bottom: -6px;
    cursor: pointer
  }

  .w3-quarter img:hover {
    opacity: 0.6;
    transition: 0.3s
  }

  .custom-file-upload {
    background-color: cadetblue;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }

  #preview_progressbarTW_img {
    width: 200px;
    height: 200px;
    position: relative;
    top: auto;
  }

  input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
</style>

<body style="background-color: #202024">

  <script>

    function readURL(input) {

      if (input.files && input.files[0]) {

        var imageTagID = input.getAttribute("targetID");

        var reader = new FileReader();

        reader.onload = function (e) {

          var img = document.getElementById(imageTagID);

          img.setAttribute("src", e.target.result)

        }

        reader.readAsDataURL(input.files[0]);

      }

    }

  </script>

  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-bar-block w3-black w3-animate-right w3-top w3-text-light-grey w3-large"
    style="z-index:3;width:250px;font-weight:bold;display:none;right:0;" id="mySidebar">
    <a href="javascript:void()" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-32">CLOSE</a>
    <a href="/notice" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">通知</a>
    <a href="/userInfo" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">個人資訊</a>
    <a href="/home" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">主頁面</a>
    <a href="/history" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">瀏覽歷史資訊</a>
    <a href="/setting" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">設置</a>
    <a href="/logout" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">登出</a>

  </nav>

  <!-- Top menu on small screens -->
  <header class="w3-container w3-top w3-xlarge w3-padding-16" style="background-color: #3c3c44;">
    <span class="w3-center w3-padding w3-text-light-grey">設置密碼</span>
    <a href="javascript:void(0)" class="w3-right w3-button w3-border w3-text-light-grey" onclick="w3_open()">&#9776;</a>
  </header>

  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu"
    id="myOverlay"></div>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main w3-content" style="max-width:1600px;margin-top:100px">

    <div class="w3-container w3-padding-32 w3-padding-large" id="contact">
      <div class="w3-content  w3-text-light-grey" style="max-width:600px">
        <h4 class="w3-center"><b>設定密碼</b></h4>
        <form action="/setPsw" method='POST' id="req">
          <div class="w3-section">
            <label>密碼</label>
            <input class="w3-input w3-border" type="text" name="_password" required id = "id1" >
            <p class="w3-text-red"></p>
          </div>
          <div class="w3-section">
              <label>再次輸入密碼</label>
              <input class="w3-input w3-border" type="text" required id = "id2">
              <p class="w3-text-red"></p>
          </div>

          <input type="button" class="w3-button w3-block w3-margin-bottom w3-round-large"
            style="background-color: #7f92cf;" onclick="verify()"  value = "確認">
          </button>
        </form>
      </div>
    </div>

    <!-- Footer -->

    <div class="w3-center w3-padding-24 w3-text-white" style="background-color: #3c3c44;">Made by <a
        href="https://youtu.be/NL2e8U0hays" title="W3.CSS" target="_blank"
        class="w3-hover-opacity">山海關快打旋風程門雞蛋糕猜猜幾把刀</a></div>

    <!-- End page content -->
  </div>

  <script>
    // Script to open and close sidebar
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("myOverlay").style.display = "none";
    }

    // Modal Image Gallery
    function onClick(element) {
      document.getElementById("img01").src = element.src;
      document.getElementById("modal01").style.display = "block";
      var captionText = document.getElementById("caption");
      captionText.innerHTML = element.alt;
    }

    function verify()
    {
      if(document.getElementById("id1").value != document.getElementById("id2").value )
      {
        window.alert("確認密碼錯誤");
      }
      else
      {
        document.getElementById("req").submit();
      }
    }

  </script>


</body>

</html>