<!DOCTYPE html>
<html lang="en">
<title>海大共乘go</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="icon" href="static/images/helmet.ico" type="image/x-icon">
<style>
  @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

  body,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Noto Sans TC", "Raleway", sans-serif
  }

  .w3-quarter img {
    margin-bottom: -6px;
    cursor: pointer
  }

  .w3-quarter img:hover {
    opacity: 0.6;
    transition: 0.3s
  }
</style>

<body style="background-color: #202024">

  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-bar-block w3-black w3-animate-right w3-top w3-text-light-grey w3-large"
    style="z-index:3;width:250px;font-weight:bold;display:none;right:0;" id="mySidebar">
    <a href="javascript:void()" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-32">CLOSE</a>
    <a href="/notice" id="notice" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">通知</a>
    <a href="/userInfo" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">個人資訊</a>
    <a href="/home" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">主頁面</a>
    <a href="/history" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">瀏覽歷史資訊</a>
    <a href="/logout" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">登出</a>

  </nav>

  <!-- Top menu on small screens -->
  <header class="w3-container w3-top w3-xlarge w3-padding-16" style="background-color: #3c3c44;">
    <span class="w3-center w3-padding w3-text-light-grey">乘客 <a href="/driverPost"
        style="text-decoration:none; background-color:blue;">切換身分</a></span>
    <a href="javascript:void(0)" id="menu" class="w3-right w3-button w3-border w3-text-light-grey"
      onclick="w3_open()">&#9776;</a>
  </header>

  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu"
    id="myOverlay"></div>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main w3-content" style="max-width:1600px;margin-top:100px">

    <div class="w3-container w3-padding-32 w3-padding-large" id="contact">
      <div class="w3-content  w3-text-light-grey" style="max-width:600px">
        <h4 class="w3-center"><b>刊登</b></h4>
        <div class="w3-section" id="time">

        </div>
        <div class="w3-section">
          <label>搭車地點</label>
          <select class="w3-input w3-border" type="text" name="post_location" required id="loc">
            　<option value="瑞芳車站">瑞芳車站</option>
            　<option value="山海觀">山海觀</option>
            　<option value="海洋大學體育館">海洋大學體育館</option>
            　<option value="海洋大學濱海校門">海洋大學濱海校門</option>
            　<option value="海洋大學祥豐校門">海洋大學祥豐校門</option>
            　<option value="中正路加油站">中正路加油站</option>
            　<option value="基隆市立圖書館">基隆市立圖書館</option>
            　<option value="長榮桂冠">長榮桂冠</option>
            　<option value="基隆市政府">基隆市政府</option>
            　<option value="海洋廣場">海洋廣場</option>
            　<option value="基隆火車站">基隆火車站</option>
            　<option value="廟口">廟口</option>
            　<option value="基隆女子高級中學">基隆女子高級中學</option>
            　<option value="微笑台北">微笑台北</option>
            　<option value="深溪路愛買">深溪路愛買</option>
            　<option value="海中天">海中天</option>
            　<option value="巴賽隆納">巴賽隆納</option>
            　<option value="海洋世界">海洋世界</option>
            　<option value="新豐麥當勞">新豐麥當勞</option>
            　<option value="和平島和平國小">和平島和平國小</option>
            　<option value="基隆海事">基隆海事</option>
            　<option value="祥豐市場">祥豐市場</option>
          </select>
        </div>
        <div class="w3-section">
          <label>目的地</label>
          <select class="w3-input w3-border" type="text" name="post_goto" required id="des">
            　<option value="瑞芳車站">瑞芳車站</option>
            　<option value="山海觀">山海觀</option>
            　<option value="海洋大學體育館">海洋大學體育館</option>
            　<option value="海洋大學濱海校門">海洋大學濱海校門</option>
            　<option value="海洋大學祥豐校門">海洋大學祥豐校門</option>
            　<option value="中正路加油站">中正路加油站</option>
            　<option value="基隆市立圖書館">基隆市立圖書館</option>
            　<option value="長榮桂冠">長榮桂冠</option>
            　<option value="基隆市政府">基隆市政府</option>
            　<option value="海洋廣場">海洋廣場</option>
            　<option value="基隆火車站">基隆火車站</option>
            　<option value="廟口">廟口</option>
            　<option value="基隆女子高級中學">基隆女子高級中學</option>
            　<option value="微笑台北">微笑台北</option>
            　<option value="深溪路愛買">深溪路愛買</option>
            　<option value="海中天">海中天</option>
            　<option value="巴賽隆納">巴賽隆納</option>
            　<option value="海洋世界">海洋世界</option>
            　<option value="新豐麥當勞">新豐麥當勞</option>
            　<option value="和平島和平國小">和平島和平國小</option>
            　<option value="基隆海事">基隆海事</option>
            　<option value="祥豐市場">祥豐市場</option>
          </select>
        </div>
        <div class="w3-section">
          <label>備註</label>
          <input class="w3-input w3-border" type="text" name="post_notice" required id="noti">
        </div>
        <div class="w3-section">
          <label>其他需求:</label>
          <label><input name="post_raincoat" id="coat" type="checkbox" value=false>雨衣</label>
          <label><input name="post_haveHat" id="hat" type="checkbox" value=false>安全帽</label>
        </div>
        <div id="input">
        <input type="button" class="w3-button w3-block w3-margin-bottom w3-round-large"
          style="background-color: #7f92cf;" onclick="beforesubmit()" value="發布"></div>
      </div>
    </div>

    <!-- Footer -->

    <div class="w3-center w3-padding-24 w3-text-white" style="background-color: #3c3c44;">Made by <a
        href="https://youtu.be/NL2e8U0hays" title="W3.CSS" target="_blank"
        class="w3-hover-opacity">山海關快打旋風程門雞蛋糕猜猜幾把刀</a></div>

    <!-- End page content -->
  </div>

  <script>
    function beforesubmit()
    {
      var location = document.getElementById("loc").value;
      var goto = document.getElementById("des").value;
      var notice = document.getElementById("noti").value;
      var haveCoat;
      var haveHat;
      var isChecked1 = $("#coat").prop("checked");
      if (isChecked1) {
        haveCoat = true;
      }
      else {
        haveCoat = false;
      }
      var isChecked2 = $("#hat").prop("checked");
      if (isChecked2) {
        haveHat = true;
      }
      else {
        haveHat = false;
      }
      var dateControl = document.getElementById("tem_date").value;
      var timeControl = document.querySelector('input[type="time"]').value;
      console.log(dateControl);
      console.log(timeControl);
      var time2 = dateControl + "T" + timeControl + ":" + "00+00:00";
      console.log(time2)
      $.ajax({
        type: 'POST',
        url: "/checkBusy",
        data: JSON.stringify({ 'type':'post','target':  time2}),
        contentType: 'application/json; charset=utf-8',
        success: function (data) {
          if(data.result)
            window.alert("這個時間點您已有其他共乘進行中!若要繼續，請按下 確認刊登");
          document.getElementById("loc").value=location;
          document.getElementById("des").value=goto;
          document.getElementById("noti").value=notice; 
          document.getElementById("input").innerHTML= 
        '<input type="button" class="w3-button w3-block w3-margin-bottom w3-round-large"\
          style="background-color: #7f92cf;" onclick="submit()" value="確認刊登">';
          var message = "<label>搭車時間</label><input type='datetime-local'>";
          var date = new Date();
      document.getElementById("time").innerHTML = "日期:<input type='date' id = 'tem_date' required value = '" + dateControl + "'> 時間: <input type = 'time'  id = 'tem_time' required value = '" + timeControl + "'>";
        }
      });
    }
    // Script to open and close sidebar
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("myOverlay").style.display = "none";
    }

    // Modal Image Gallery
    function onClick(element) {
      document.getElementById("img01").src = element.src;
      document.getElementById("modal01").style.display = "block";
      var captionText = document.getElementById("caption");
      captionText.innerHTML = element.alt;
    }
    var date = new Date();
    var TTT;
    window.onload = function () {
      var message = "<label>搭車時間</label><input type='datetime-local'>";
      TTT="日期:<input type='date' id = 'tem_date' required value = '" + date.getFullYear() + "-" + (date.getMonth() + 1)
        + "-" + date.getDate() + "'><br><br>時間: <input type = 'time'  id = 'tem_time' required value = '" + date.getHours() + ":" + date.getMinutes() + "'>"
      document.getElementById("time").innerHTML =TTT;

    }

    function submit() {
      var dateControl = document.getElementById("tem_date").value;
      var timeControl = document.querySelector('input[type="time"]').value;
      console.log(dateControl);
      console.log(timeControl);

      var time2 = dateControl + "T" + timeControl + ":" + "00+00:00";
      console.log(typeof (time2));
      //console.log(time2);
      var location = document.getElementById("loc").value;
      var goto = document.getElementById("des").value;
      var notice = document.getElementById("noti").value;
      var haveCoat;
      var haveHat;
      var isChecked1 = $("#coat").prop("checked");
      if (isChecked1) {
        haveCoat = true;
      }
      else {
        haveCoat = false;
      }
      var isChecked2 = $("#hat").prop("checked");
      if (isChecked2) {
        haveHat = true;
      }
      else {
        haveHat = false;
      }
      var now = new Date();
      var year = dateControl.substr(0,4);
      var mon = dateControl.substr(5,2);
      var day = dateControl.substr(8,2);
      var hour = timeControl.substr(0,2);
      var min = timeControl.substr(3,2);
      var posttime = new Date(year, mon - 1, day, hour, min);
      console.log(posttime);
      // console.log(posttime);
      // console.log(now.getTime());
      // console.log(posttime.getTime());

      if (posttime.getTime() > now.getTime()) {

        if (goto == location) {
          window.alert("地點不能相同");
        }
        else {
          var list = {
            "post_type": 0,
            "post_getOnTime": time2,
            "post_location": location,
            "post_goto": goto,
            "post_notice": notice,
            "post_haveHat": haveHat,
            "post_raincoat": haveCoat
          };
          //console.log(list);
          $.ajax({
            type: 'POST',
            url: "/pasPost",
            data: JSON.stringify(list),
            contentType: 'application/json; charset=utf-8',
            success: function () {
              window.location.href = 'https://' + document.domain + '/myPost';
            }
          });
        }
      }
      else {
        window.alert("時間錯誤");
      }



    }

    //{type:"post_type",post_getOnTime:"時間",post_location:"地點",post_goto:"目的地",post_notice:"備註",post_haveHat:"帽子",post_raincoat:"雨衣"}
  </script>

  <script src="static/assets/js/jquery.min.js"></script>
  <script src="static/assets/js/getCoords.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANZaNJNJcia9SoIrpfKiUEXVVLu0PaWac&callback=initMap"
    async defer></script>
  <script src="static/assets/js/jquery.scrolly.min.js"></script>
  <script src="static/assets/js/skel.min.js"></script>
  <script src="static/assets/js/util.js"></script>
  <script src="static/assets/js/main.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
  <script src="static/assets/js/notifation.js"></script>
  <!-- <script src="static/assets/js/jquery.poptrox.min.js"></script> 要使用彈出視窗在加，不然href不能用-->



</body>

</html>